<h1>INDEX</h1>

<div>
    <% if current_user %>
        <p>Hello <%= current_user.email %></p>
        <p>Hello <%= current_user.role %></p>
        <%= link_to "Cerrar sesión", destroy_user_session_path, 'data-turbo-method': :delete %>
        <%= link_to "Editar perfil", edit_user_registration_path %>
    <% else %>
        <a href="/users/sign_in">Iniciar Sesion</a>
        <a href="/users/sign_up">Registrarse</a>
    <% end %>
</div>

<div>
    <% if user_signed_in? && current_user.admin? %>
        <a href="/clientes">Listado de clientes</a>
        <a href="/citas">Listado de citas</a>
        <a href="/admin">Admin Panel</a>
    <% else %>
        <h1>test</h1>
    <% end %>
</div>



