<% content_for :title, "Editing cita" %>

<h1>Editing cita</h1>

<%= render "form", cita: @cita %>

<br>

<div>
  <%= link_to "Show this cita", @cita %> |
  <%= link_to "Back to citas", citas_path %>
</div>
